In [8]:
import pandas as pd
from sklearn.datasets import load_iris

iris_data = load_iris()

iris = pd.DataFrame(
    iris_data.data,
    columns=iris_data.feature_names
)

iris["species"] = pd.Categorical.from_codes(
    iris_data.target,
    iris_data.target_names
)

iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

**1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical) variable. For example, if your categorical variable is age groups and quantitative variable is income, then provide summary statistics of income grouped by the age groups. Create a list that contains a numeric value for each response to the categorical variable.**

In [14]:
grouped_stats = iris.groupby(
    "species",
    observed=True
)["sepal length (cm)"].agg(
    mean="mean",
    median="median",
    minimum="min",
    maximum="max",
    std_dev="std"
)

grouped_stats

             mean  median  minimum  maximum   std_dev
species
setosa      5.006     5.0      4.3      5.8  0.352490
versicolor  5.936     5.9      4.9      7.0  0.516171
virginica   6.588     6.5      4.9      7.9  0.635880

In [18]:
sepal_length_list = iris.groupby(
    "species",
    observed=True
)["sepal length (cm)"].apply(list)
sepal_length_list

species
setosa        [5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, ...
versicolor    [7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, ...
virginica     [6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, ...
Name: sepal length (cm), dtype: object

**Write a Python program to display some basic statistical details like percentile, mean, standard deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris-versicolor’ of iris.csv dataset**

In [19]:
iris[iris["species"] == "setosa"].describe(percentiles=[0.25, 0.5, 0.75])

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,50.00000,50.000000,50.000000,50.000000
mean,5.00600,3.428000,1.462000,0.246000
std,0.35249,0.379064,0.173664,0.105386
min,4.30000,2.300000,1.000000,0.100000
25%,4.80000,3.200000,1.400000,0.200000
50%,5.00000,3.400000,1.500000,0.200000
75%,5.20000,3.675000,1.575000,0.300000
max,5.80000,4.400000,1.900000,0.600000

In [20]:
iris[iris["species"] == "versicolor"].describe(percentiles=[0.25, 0.5, 0.75])

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,50.000000,50.000000,50.000000,50.000000
mean,5.936000,2.770000,4.260000,1.326000
std,0.516171,0.313798,0.469911,0.197753
min,4.900000,2.000000,3.000000,1.000000
25%,5.600000,2.525000,4.000000,1.200000
50%,5.900000,2.800000,4.350000,1.300000
75%,6.300000,3.000000,4.600000,1.500000
max,7.000000,3.400000,5.100000,1.800000

In [21]:
iris[iris["species"] == "virginica"].describe(percentiles=[0.25, 0.5, 0.75])

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,50.00000,50.000000,50.000000,50.00000
mean,6.58800,2.974000,5.552000,2.02600
std,0.63588,0.322497,0.551895,0.27465
min,4.90000,2.200000,4.500000,1.40000
25%,6.22500,2.800000,5.100000,1.80000
50%,6.50000,3.000000,5.550000,2.00000
75%,6.90000,3.175000,5.875000,2.30000
max,7.90000,3.800000,6.900000,2.50000